<%# app/views/devise/shared/_links.html.erb %>
<%# ここでは通常の登録/パスワード系のみを表示。OmniAuthリンクは一切出さない %>

<% if controller_name != 'sessions' %>
  <div class="devise-link">
    <%= link_to t('devise.shared.links.sign_in'), new_session_path(resource_name) %>
  </div>
<% end %>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="devise-link">
    <%= link_to t('devise.shared.links.sign_up'), new_registration_path(resource_name) %>
  </div>
<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="devise-link">
    <%= link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name) %>
  </div>
<% end %>

<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="devise-link">
    <%= link_to t('devise.shared.links.resend_confirmation'), new_confirmation_path(resource_name) %>
  </div>
<% end %>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="devise-link">
    <%= link_to t('devise.shared.links.resend_unlock'), new_unlock_path(resource_name) %>
  </div>
<% end %>
