<%# ログイン %>
<% if controller_name != 'sessions' %>
  <div><%= link_to t('devise.shared.links.sign_in'), new_session_path(resource_name) %></div>
<% end %>

<%# 新規登録 %>
<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div><%= link_to t('devise.shared.links.sign_up'), new_registration_path(resource_name) %></div>
<% end %>

<%# パスワード再設定 %>
<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div><%= link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name) %></div>
<% end %>

<%# 確認メール再送 %>
<% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div><%= link_to t('devise.shared.links.resend_confirmation'), new_confirmation_path(resource_name) %></div>
<% end %>

<%# アンロック再送 %>
<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div><%= link_to t('devise.shared.links.resend_unlock'), new_unlock_path(resource_name) %></div>
<% end %>

<%# OmniAuth（使っていれば） %>
<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <div><%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}",
          omniauth_authorize_path(resource_name, provider), data: { turbo: false } %></div>
  <% end %>
<% end %>
