<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fasty App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %> <!-- Turbo/Stimulus 読み込み -->

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="text-gray-900">
    <% landing = (controller_path == "pages" && action_name == "home") %>

    <%# ランディング以外はヘッダー表示 %>
    <%= render("shared/header") unless landing %>

    <% if landing %>
      <%= yield %>
    <% else %>
      <!-- ヘッダー分の上余白を確保（headerはh-14なのでpt-16で少し余裕） -->
      <main class="max-w-5xl mx-auto p-4 pt-16">
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
