<% content_for :title, "#{t('devise.registrations.new.sign_up')} | Fasty" %>

<div class="devise-wrap">
  <h1 class="devise-title"><%= t('devise.registrations.new.sign_up') %></h1>

  <div class="devise-card">
    <%= render "users/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false } }) do |f| %>
      <div class="devise-field">
        <%= f.label :email, t('activerecord.attributes.user.email'), class: "devise-label" %>
        <%= f.email_field :email,
              class: "devise-input",
              autofocus: true,
              autocomplete: "email",
              inputmode: "email",
              spellcheck: false %>
      </div>

      <div class="devise-field">
        <%= f.label :password, t('activerecord.attributes.user.password'), class: "devise-label" %>
        <% if @minimum_password_length.present? %>
          <small><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
        <% end %>
        <%= f.password_field :password,
              class: "devise-input",
              autocomplete: "new-password" %>
      </div>

      <div class="devise-field">
        <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation'), class: "devise-label" %>
        <%= f.password_field :password_confirmation,
              class: "devise-input",
              autocomplete: "new-password" %>
      </div>

      <%= f.submit t('devise.registrations.new.sign_up'), class: "devise-submit" %>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
